<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('contacts.list') }"><a ui-sref="contacts.list">All Contacts</a></li>
        <li class="nav-header">Top Contacts</li>

        <!-- 이 <li>는 'contacts.detail'나 이것의 의존성이 활성화되고 
             (contactId로 알고 있는)활성화된 contact를 위한 링크일 때만 'active' 클래스를 추가할 것이다. -->
        <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">

          <!-- 여기에 필요한 인자를 제공하는 ui-sref가 있다. -->
          <a ui-sref="contacts.detail({contactId:contact.id})">{{contact.name}}</a>
        </li>
      </ul>
      <hr>
      <button class="btn" ng-click="goToRandom()">Show random contact</button>

      <!-- 다른 명명된 뷰 -->
      <div ui-view="menuTip" class="slide"></div>
    </div>
  </div>

  <!-- 이 템플릿을 위해 명명되지 않은 기본 ui-view -->
  <div ui-view class="span9 slide"></div>
</div>
